body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  overflow-y: hidden;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  resize: vertical;
  min-height: 150px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.app-wrapper {
  display: flex;
}

.text-input-section {
  flex: 1;
  margin-right: 40px;
}

.output-section {
  flex: 1;
  overflow-y: auto;
}

.result-window {
  position: relative;
  height: 100%;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  min-height: 300px;
  /* overflow-y: auto; */
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}
