/* General styles */
* {
  box-sizing: border-box;
}

@media screen and (max-width: 576px) {
  .text-input-section {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .output-section {
    margin-top: 40px !important;
    margin-right: 0px !important;
  }
  .logo-container {
    max-width: 300px;
  }
 
}

.logo-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 100px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

.logo-container img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Work Sans', Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
  background: #f0f2f5;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 40px;
}

/* Page title */
h1 {
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
  padding: 20px 0;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  margin-left: 20px;
}

/* Form elements */
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  resize: vertical;
  min-height: 150px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-family: inherit;
}

button {
  background-color: transparent;
  width: 100%;
  color: #fff;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
  font-family: inherit;
  transition: background-color 0.3s;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); /* Updated gradient color */
}

button:hover {
  filter: brightness(110%);
}

/* Layout */
.app-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.text-input-section {
  flex: 1;
  margin-right: 40px;
  margin-left: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.add-sample-container {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.add-sample {
  background-color: transparent;
  color: #ccc;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.3s, border-color 0.3s;
  background-image: none;
}

.add-sample:hover {
  color: #666;
  border-color: #666;
}

.output-section {
  flex: 1;
  min-width: 300px;
  overflow-y: auto;
  margin-right: 20px;
}

/* Result window */
.result-window {
  position: relative;
  height: 100%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  min-height: 300px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Loader */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.demo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn-demo {
  color: #ccc;
  font-weight: 500;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  transition: color 0.3s;
  border: none;
  background-color: transparent;
  text-decoration: none;
  background-image: none;
}

.btn-demo:hover {
  text-decoration: underline;
  filter: brightness(80%);
}

.footer {
  background-color: none;
  color: #ccc !important;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.footer a {
    color: #ccc; 
    text-decoration: none;
}
.footer a:hover {
    color: #007bff; 
    text-decoration: underline;
}

.hidden {
  display: none;
}
