<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GHY35429W6"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-GHY35429W6');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>echoScribe</title>
    <link href="https://fonts.googleapis.com/css2?family=WorkplusSans:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">

</head>
<body>
    <div class="app-container">
        <div class="logo-container" onclick="location.reload();">
            <img src="/static/echoscribe_logo.svg" alt="echoScribe Logo" />
        </div>
        <div class="app-wrapper">
            <div class="text-input-section">
                <form id="text-input-form">
                    <div id="text-input-container">
                        {% for i in range(1, num_text_inputs + 1) %}
                        <div class="form-group">
                            <label for="text-input-{{ i }}">Sample Text {{ i }}</label>
                            <textarea class="form-control" id="text-input-{{ i }}" rows="3" placeholder="{{ specific_texts[i-1] }}" data-placeholder="{{ specific_texts[i-1] }}"></textarea>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="add-sample-container">
                        <div type="button" id="add-sample" class="add-sample">+</div>
                    </div>
                    <div class="text-input-container">
                        <input type="text" class="subject-input" id="subject-input" placeholder="(Optional) Enter a guiding subject.">
                    </div>
                    <div class="button-container">
                        <button type="submit" id="submit-btn" class="btn btn-primary">Submit</button>                    
                    </div>
                </form>
            </div>
            <div class="output-section">
                <label for="result">Generated Text</label>
                <div class="result-window">
                    <div class="demo-container">
                        <button type="button" id="demo-samples" class="btn-demo">↗Demo</button>
                    </div>
                    <div id="result"></div>
                    <div id="loader" class="loader hidden">
                        <img src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/images/loader-large.gif" alt="Loading...">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <a href="https://timberstud.io/blakemartz" target="_blank">timberstud.io</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module">
        import { demoSamplesArray } from "{{ url_for('static', filename='demoSamples.js') }}";
        $(document).ready(function () {
            $("textarea").on("focus", function () {
                let currentPlaceholder = $(this).attr("placeholder");
                let originalPlaceholder = $(this).data("placeholder");

                if (currentPlaceholder === originalPlaceholder) {
                    $(this).attr("placeholder", "");
                }
            });

            $("textarea").on("blur", function () {
                let currentPlaceholder = $(this).attr("placeholder");
                let originalPlaceholder = $(this).data("placeholder");

                if (!currentPlaceholder) {
                    $(this).attr("placeholder", originalPlaceholder);
                }
            });

            let sampleCount = {{ num_text_inputs }};

            $("#text-input-form").submit(function (event) {
                event.preventDefault();

                $("#demo-samples").remove();

                let text_inputs = [];
                for (let i = 1; i <= sampleCount; i++) {
                    text_inputs.push($("#text-input-" + i).val());
                }

                $("#loader").removeClass("hidden");
                $("#result").html("");
                
                // change button text to Generating...
                $(".btn.btn-primary").text("Generating...");

                $.ajax({
                    type: "POST",
                    url: "{{ url_for('submit') }}",
                    contentType: "application/json",
                    data: JSON.stringify({
                        text_inputs: text_inputs, 
                        subject_input: $('#subject-input').val()
                    }),
                    success: function (response) {
                        // Update the result container with the generated text
                        let formattedText = response.generated_text.replace(/\n/g, '<br>');
                        $("#result").html(formattedText);
                        $("#loader").addClass("hidden");

                        // Change the button text once the response appears
                        $(".btn.btn-primary").text("Regenerate");
                    }
                });
            });

            $("#add-sample").click(function() {
                sampleCount++;
                const newFormGroup = `
                    <div class="form-group">
                        <label for="text-input-${sampleCount}">Sample Text ${sampleCount}</label>
                        <textarea class="form-control" id="text-input-${sampleCount}" rows="3"></textarea>
                    </div>`;
                $("#text-input-container").append(newFormGroup);
            });
            
            $("#demo-samples").click(function() {
                // Randomly select a sample set
                const randomSampleSet = demoSamplesArray[Math.floor(Math.random() * demoSamplesArray.length)];

                // Create an array of the samples in the selected set
                const demoSamples = [
                    randomSampleSet.sample1,
                    randomSampleSet.sample2,
                    randomSampleSet.sample3,
                ];
                
                // Populate the input fields with demo samples
                for (let i = 1; i <= demoSamples.length; i++) {
                    $("#text-input-" + i).val(demoSamples[i - 1]);
                }
                
                // Trigger a click event on the submit button to submit the form
                $("#submit-btn").trigger("click");
            });

        });
    </script>
</body>
</html>
